*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a,
button,
input {
  border-radius: 0px !important;
}

.pagination .active {
  border: 1px solid #4b4b4b !important;
  color: #dc3545 !important;
}

.header {
  background-image: url(./img/header-background.png);
}

.logo-store {
  letter-spacing: 0.45rem;
}

.p--small {
  font-size: 0.85rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: black;
  position: absolute;
  aspect-ratio: 1 / 1;
}

.overlay:hover {
  opacity: 0.8;
}

.card:hover {
  background-color: #f8f9fa !important;
}

.card-body:hover ~ .overlay {
  opacity: 0.8;
}

.card .btn:hover,
.subscribe .btn:hover {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.overlay-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.card {
  position: relative;
}

.card--carousel {
  border: none;
}

.footer {
  background-color: #e6e6e6 !important;
}

/* CAROUSEL SLIDER QUERIES*/
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/* THE REST OF THE QUERIES*/
@media (min-width: 768px) {
  .news-input {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .grid-gap {
    gap: 1rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}
